/*--------------------------------------------------------------
Nama Template   : CV PortoFolio  
Author          : Andre Tri Ramadana
Lisence         : FREE

Fecebook        : https://www.facebook.com/andre123.co.id
----------------------------------------------------------------*/

/* Default*/
body, .text-judul{
    font-family: 'Varela Round', sans-serif;
    font-size: 19px;
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

h1,h2,h3,h4,h5, .text-warna{
    font-size: 19px;
    color: white;
}

.judul, h6{
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    float: flex;
    color: black;
}


/*End Default*/

/*Bagian Dari Foto*/
.img, .foto{
    padding-top: 16px; 
    object-fit: cover;
    border-radius: 3000px;
    width: 300px;
    height: 300px;

    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.text{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*End Bagian Dari Foto*/


/*Bagian Dari tampilan About*/
.about{
    padding-top: 100px;
    padding: 20px;
    margin: 10px 10px 10px 10px;
}
/*End Bagian Dari tampilan About*/


/*Bagian Dari Tampilan Project*/
.project{
    padding-top: 10px;
    padding-left: 10px;
    padding: 40px;
    display: inline-table;
    max-width: 100%;
}


.card-img-top{
    width: 19rem;
}

.card{
     margin: 10px 10px 10px 10px;
}


.info{
    width: 2rem;
    object-fit: cover;
    border-radius: 2em;
}
/*End Bagian Dari Tampilan Project*/


/*Skill*/

.skill{
    padding-top: 100px;
    padding: 20px;
}

.web{
    margin: auto;
    padding: 10px;
}
/*End Skill*/


/*soft_skill*/

.soft_skill{
    padding-top: 100px;
    padding: 20px;
}
/*End soft_skill*/


/*Experience*/
.Experience{
    padding-top: 100px;
    padding: 20px;
    margin: 10px 10px 10px 10px;
}

/*End Experience*/

/*Bagian Button Scroll top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #555;
}

/*End Bagian Button Scroll top*/


